<html>

<body>
    <div class="sidebar">
        <h2 id="sidebar_logo">LuluOrange</h2>
        <a href="/index.html">Welcome</a>
        <a href="/activities_manage">Manage Activities</a>
        <a href="/customers_manage">Manage Customers</a>
        <a href="/genders_manage">Manage Genders</a>
        <a href="/orders_manage">Manage Orders</a>
        <a href="/orders_products_manage">Manage Orders_Products</a>
        <a href="/products_manage">Manage Products</a>
        <a href="/stores_manage/">Manage Stores</a>
    </div>
    <div class="container-fluid">
        <div class="content">
            
            <div class="container-fluid">
                <h2>Update Store ID: {{store.store_id}}</h2>
                <form id="update-store" action="/stores" method="post">
                    store_email: <input type="text" class="form-control" name="store_email" value="{{store.store_email}}"><br>
                    store_phone: <input type="text" class="form-control" name="store_phone" value="{{store.store_phone}}"><br>
                    store_street: <input type="text" class="form-control" name="store_street" value="{{store.store_street}}"><br>
                    store_city: <input type="text" class="form-control" name="store_city" value="{{store.store_city}}"><br>
                    store_state: <input type="text" class="form-control" name="store_state" value="{{store.store_state}}"><br>
                    store_country: <input type="text" class="form-control" name="store_country" value="{{store.store_country}}"><br>
                    store_zip: <input type="text" class="form-control" name="store_zip" value="{{store.store_zip}}"><br>
                </form>
                <button onclick="updateStore({{store.store_id}})" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>

</html>