<html>

<body>
    <div class="sidebar">
        <h2 id="sidebar_logo">LuluOrange</h2>
        <a href="/index.html">Welcome</a>
        <a href="/activities_manage">Manage Activities</a>
        <a href="/customers_manage">Manage Customers</a>
        <a href="/genders_manage">Manage Genders</a>
        <a href="/orders_manage">Manage Orders</a>
        <a href="/orders_products_manage">Manage Orders_Products</a>
        <a href="/products_manage">Manage Products</a>
        <a href="/stores_manage/">Manage Stores</a>
    </div>
    <div class="container-fluid">
        <div class="content">
            <h2>Update Product</h2>
            <br>
            <div class="container-fluid">
                <h3>Update Product ID: {{product.product_id}}</h3>
                <form id="update-product" action="/products" method="post">
                    product_name: <input type="text" class="form-control" name="product_name" value="{{product.product_name}}"><br>
                    product_description: <input type="text" class="form-control" name="product_description"
                        value="{{product.product_description}}"><br>
                    gender_id: <input type="text" class="form-control" name="gender_id" value="{{product.gender_id}}"><br>
                    activity_id: <input type="text" class="form-control" name="activity_id" value="{{product.activity_id}}"><br>
                    product_price: <input type="text" class="form-control" name="product_price" value="{{product.product_price}}"><br>
                </form>
                <button onclick="updateProduct({{product.product_id}})" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>

</html>