<html>
<div class="container-fluid">
<h2>Update Order ID: {{order.order_id}}</h2>
<form id="update-order" action="/orders" method="post">
    customer_id: <input type="text" name="customer_id" value="{{order.customer_id}}"><br>
    store_id: <input type="text" name="store_id" value="{{order.store_id}}"><br>
    order_date: <input type="date" name="order_date" value="{{order.order_date}}"><br>
</form>
<button onclick="updateOrder({{order.order_id}})" class="button_sub">Update</button>
</div>
</html>
